<sttrong>Hi, {{ provider }} </sttrong>
<p>An appointment cancellation is happpened, more details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br/>
  <strong>Date/Hours: </strong> {{ date }} <br/>
  <br/>
  <small>
    This time is free for a new appointment
  </small>
</p>
